<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title> Text Extractor</title>
  <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <main class="container">
  <h1 style="align-items: center;"> Text Extractor</h1>
  <br><br>
  {% block content %}
  {% endblock content%}
</main>

</body>

</html>